<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd 
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd"
       default-autowire="byName">
	 
    <context:component-scan base-package="com.xialiu.shop" />
    
    <!--springmvc controller -->
    <import resource="spring-servlet.xml" />
    
    <!-- 读取properties -->
    <context:property-placeholder location="classpath*:conf.properties"/>
    
    <!-- jdbc -->
    <import resource="jdbc.xml" />
	<import resource="spring-mybatis-shop.xml"/>
	
	<!-- redis -->
	<import resource="redis.xml"/>

    <aop:aspectj-autoproxy/>
    <bean id="authAspect" class="com.xialiu.shop.web.filter.AuthAspect">
    </bean>
    
    <aop:config>
      <aop:aspect ref="authAspect">
        <aop:pointcut id="authAspectImpl" expression="execution(* com.xialiu.shop.web.*.controller.*.*(..))" />
        <aop:around pointcut-ref="authAspectImpl" method="around" />
      </aop:aspect>
    </aop:config>
    
    <!-- 线程处理机制 -->
    <task:annotation-driven executor="defaultTaskExecutor"/>
    <task:executor id="defaultTaskExecutor" pool-size="20-1000" queue-capacity="10" keep-alive="2"/>

	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
         <!-- 线程池维护线程的最少数量 -->
         <property name="corePoolSize" value="5" />
         <!-- 允许的空闲时间 -->
         <property name="keepAliveSeconds" value="200" />
         <!-- 线程池维护线程的最大数量 -->
         <property name="maxPoolSize" value="10" />
         <!-- 缓存队列 -->
         <property name="queueCapacity" value="20" />
         <!-- 对拒绝task的处理策略 -->
         <property name="rejectedExecutionHandler">
             <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />
         </property>
    </bean>
</beans>